$if(has-tables)$
.\"t
$endif$
.TH PANDOC 1 "$date$" "$version$"
.SH NAME
pandoc - general markup converter
$body$
.PP
The Pandoc source code and all documentation may be downloaded
from <http://pandoc.org>.
