<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="37DB5E26-BDA9-4166-AFD7-E23DA4B75755"
  UpgradeCode="A68E8EF6-ABB1-4F22-A3C5-68DFDF0AB562" Name="Pandoc 1.10"
  Version="1.10.2.1" Manufacturer="John MacFarlane"
  Language="1033">
    <Package InstallerVersion="200" Compressed="yes"
    Comments="Windows Installer Package" />
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Pandoc"/>
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Pandoc">
          <Component Id="MainExecutable"
          Guid="ECD35082-4C28-49E1-977E-B90FC7C400C7" KeyPath="yes">
            <File Id="pandocEXE" Name="pandoc.exe"
            Source="..\cabal-dev\bin\pandoc.exe" />
            <File Id="pandocCOPYRIGHT" Name="COPYRIGHT.txt"
            Source="..\COPYRIGHT.txt" />
            <File Id="pandocCOPYING" Name="COPYING.rtf"
            Source="..\COPYING.rtf" />
            <Environment Id="UpdatePath" Name="PATH" Action="set"
		    Part="last" System="yes" Value="[INSTALLDIR]" />
          </Component>
          <Component Id="Documentation"
          Guid="A8D54A76-1A3D-4647-8327-81B69D39D8A3" KeyPath="yes">
            <File Id="pandocREADME" Name="Pandoc User's Guide.html"
            Source="..\README.html" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="7F807DD5-CC54-474A-B571-89630893F563">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                Name="Pandoc User's Guide"
                Description="Pandoc User's Guide"
		Target="[INSTALLDIR]Pandoc User's Guide.html"
	        WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\John MacFarlane\Pandoc" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <Feature Id="Complete" Level="1" Title="Pandoc 1.10" Description="Complete package"  Display="expand" ConfigurableDirectory="INSTALLDIR">
      <Feature Id="MainProgram" Title="Program" Description="The main executable." Level="1">
        <ComponentRef Id="MainExecutable" />
      </Feature>
      <Feature Id="Manual">
        <ComponentRef Id="Documentation" />
        <ComponentRef Id="ApplicationShortcut" />
      </Feature>
    </Feature>
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUILicenseRtf" Value="..\COPYING.rtf" />
  </Product>
</Wix>
