root = true

; [*]
; charset = utf-8
; end_of_line = lf
; indent_style = space
; indent_size = 2
; insert_final_newline = true
; trim_trailing_whitespace = true

; [*.{markdown,md}]
; trim_trailing_whitespace = false

; [test/*]
; insert_final_newline = false
; trim_trailing_whitespace = false


## Repository Configurations
############################
[.{git*,editorconfig,*.yml}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = unset
trim_trailing_whitespace = true
insert_final_newline = true

[.gitmodules]
indent_style = tab


## Shell Scripts
################
[*.sh]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = unset
trim_trailing_whitespace = true
insert_final_newline = true


## Make Files
#############
[Makefile]
charset = utf-8
indent_size = 2
indent_style = tab
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true


## Haskell Sources
##################
[*.hs]
charset = utf-8
end_of_line = unset
indent_style = space
indent_size = unset
trim_trailing_whitespace = true
insert_final_newline = true

## Miscellanea
##############
[*.pl]
charset = utf-8
end_of_line = unset
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
