*~
dist/*
README.*
!README.Debian
INSTALL.*
.configure-stamp
.cabal-sandbox
cabal.sandbox.config
pandoc.cabal.orig
man/man?/*.1
man/man?/*.5
man/man?/*.html
*.diff
*.o
*.hi
*.pyc
/COPYING.rtf
/COPYRIGHT.txt
/cabal-dev/
/windows/*.msi
/windows/*.wixpdb
windows/*.wixobj
