*~
deb/.vagrant
dist/*
MANUAL.*
!MANUAL.txt
.configure-stamp
.cabal-sandbox
cabal.sandbox.config
pandoc.cabal.orig
man/man?/*.1
man/man?/*.5
man/man?/*.html
*.diff
*.o
*.hi
*.pyc
/COPYING.rtf
/COPYRIGHT.txt
/cabal-dev/
/windows/*.msi
/windows/*.wixpdb
windows/*.wixobj
data/reference.docx
data/reference.odt
.stack-work
cabal.project.local
/dist-newstyle/
