/*.*
/build-artifacts*
/dist-newstyle
/dist
/.stack-work
/ctags
/LOG
/TAGS
/bench-*
!.circleci/**
!.editorconfig
!.gitattributes
!.github/**
!.gitignore
!.hlint.yaml
!.mailmap
!.stylish-haskell.yaml
!AUTHORS.md
!BUGS
!CONTRIBUTING.md
!COPYING.md
!COPYRIGHT
!INSTALL.md
!MANUAL.txt
!Makefile
!README.md
!README.template
!RELEASE-CHECKLIST
!SECURITY.md
!Setup.hs
!cabal.project
!changelog.md
!default.nix
!pandoc.cabal
!hie.yaml
!release.nix
!shell.nix
!stack.yaml
!weeder.dhall
!app/**
!benchmark/**
!citeproc/**
!data/**
!doc/**
!linux/**
!macos/**
!man/**
!pandoc-lua-engine/**
!pandoc-server/**
!pandoc-cli/**
!src/**
!test/**
!tools/**
!trypandoc/**
!xml-light/**
!windows/**
*.bkp
*.orig
*.o
*.hi
*.dyn_o
*.dyn_hi
*~
.DS_Store
