Adam Brandizzi <brandizzi@gmail.com>
Albert Krewinkel <albert@zeitkraut.de> <albert+github@zeitkraut.de>
Albert Krewinkel <albert@zeitkraut.de> <albert.krewinkel@tourstream.eu>
Albert Krewinkel <albert@zeitkraut.de> <tarleb@moltkeplatz.de>
Albert Krewinkel <albert@zeitkraut.de> <tarleb@zeitkraut.de>
Alexander Krotov <ilabdsf@gmail.com>
Alex Ivkin <alex@ivkin.net>
Alex Ivkin <alex@ivkin.net> <alexivkin@users.noreply.github.com>
Andrew Dunning <andunning@gmail.com>
Andrew Dunning <andunning@gmail.com> <adunning@users.noreply.github.com>
Andrew Newman <andrewfnewman@gmail.com>
Clare Macrae <clare.macrae@googlemail.com> <github@cfmacrae.fastmail.co.uk>
Hugo Roy <hugo@fsfe.org>
Hugo Roy <hugo@xps.ampoliros.net>
John MacFarlane <jgm@berkeley.edu> <fiddlosopher@788f1e2b-df1e-0410-8736-df70ead52e1b>
John MacFarlane <jgm@berkeley.edu> <fiddlosopher@gmail.com>
John MacFarlane <jgm@berkeley.edu> <jgm@Johns-MacBook-Pro.local>
Jose Luis Duran <jlduran@gmail.com> <jlduran@users.noreply.github.com>
Marc Schreiber <schrieveslaach@online.de>
Masayoshi Takahashi <maki@rubycolor.org>
Matthew Pickering <matthewtpickering@gmail.com>
Mauro Bieg <mauro.bieg@gmail.com>
Mauro Bieg <mauro.bieg@gmail.com> <maurobieg@Mauros-MacBook-Air.local>
Mauro Bieg <mauro.bieg@gmail.com> <mb21@server.fake>
Mauro Bieg <mauro.bieg@gmail.com> <mb21@users.noreply.github.com>
Mauro Bieg <mb21@users.noreply.github.com>
Nils Carlson <nils.carlson@ludd.ltu.se>
Nils Carlson <nils.carlson@ludd.ltu.se> <pyssling@ludd.ltu.se>
Robin Lambertz <robinlambertz+dev@gmail.com>
Roland Hieber <rohieb@rohieb.name> <rohieb@users.noreply.github.com>
Sebastian Talmon <35015406+stalmon@users.noreply.github.com>
Sergei Trofimovich <slyfox@gentoo.org> <siarheit@google.com>
Sergei Trofimovich <slyfox@gentoo.org> <slyfox@inbox.ru>
Stefan Björk <stefan.bjork@gmail.com> <stefan@airistotle.local>
Thomas Hodgson <hello@twshodgson.net> <twsh@users.noreply.github.com>
Timm Albers <timmm.albers@gmail.com> <timm.albers@open-xchange.com>
Yan Pashkovsky <yanpaso@gmail.com> <Yanpas@users.noreply.github.com>
