clone_folder: "c:\\stack"
environment:
  global:
    STACK_ROOT: "c:\\sr"
    STACK_YAML: "c:\\stack\\windows\\stack.yaml"
    WIXBIN: "c:\\Program Files (x86)\\WiX Toolset v3.10\\bin"

cache:
  - "c:\\sr" # stack root, short paths == fewer problems
  - "c:\\stack\\stack.exe"
  - '%WIXBIN%'

# We don't do a normal C build, but build in test_script via stack
build: off

install:
  - '"%WIXBIN%"\candle -? || choco install wixtoolset'
  - |
      stack --version || curl -ostack.zip -L --insecure http://www.stackage.org/stack/windows-i386 && 7z x stack.zip stack.exe
  - stack setup > nul

before_test:
  # the stack install already fails without the templates...
  - git submodule update --init
  # set PATH to where the hsb2hs binary is copied to
  - cmd: set "PATH=%PATH%;%APPDATA%\\local\\bin"
  - stack install hsb2hs

test_script:
  # The ugly echo "" hack is to avoid complaints about 0 being an invalid file
  # descriptor
  - echo "" | stack clean
  - echo "" | stack --no-terminal  test
  - echo "" | stack --local-bin-path . install pandoc pandoc-citeproc

after_test:
    # .\ in the stack commandline seems to be .\windows\ (where the stack-appveyor.yaml is)
  - cd windows
  - 7z a "pandoc.zip" pandoc.exe
  - .\pandoc.exe -s -S --toc ..\MANUAL.txt -o MANUAL.html
  - .\pandoc.exe -s -S ..\COPYING -o COPYING.rtf
  - copy ..\COPYRIGHT COPYRIGHT.txt
  - |
      set VERSION=
      for /f "tokens=1-2 delims= " %%a in ('.\pandoc.exe --version') do ( if not defined VERSION set "VERSION=%%b" )
      echo %VERSION%
      "%WIXBIN%\\candle" -dVERSION=%VERSION% -dBINPATH=. *.wxs -out wixobj\
      "%WIXBIN%\\light" -sw1076 -ext WixUIExtension -ext WixUtilExtension -cultures:en-us -loc Pandoc-en-us.wxl -out pandoc.msi wixobj\*.wixobj

artifacts:
  - path: windows\pandoc.zip
    name: exe
  - path: windows\pandoc.msi
    name: msi
