Source: pandoc
Section: text
Priority: optional
Maintainer: Recai Oktaş <roktas@debian.org>
Build-Depends: debhelper (>= 4.0.0), haskell-devscripts (>=0.5.12), ghc6 (>= 6.6-1), libghc6-html-dev (>= 1.0-1), perl
Build-Depends-Indep: haddock
Standards-Version: 3.7.2.0

Package: pandoc
Section: text
Architecture: any
Depends: ${shlibs:Depends}
Suggests: tetex-bin, tidy, wget | w3m
Description: General markup converter
 Pandoc is a Haskell library for converting from one markup format to
 another, and a command-line tool that uses this library. It can read
 markdown and (subsets of) reStructuredText, HTML, and LaTeX, and it
 can write markdown, reStructuredText, HTML, LaTeX, RTF, and S5 HTML
 slide shows.

Package: libghc6-pandoc-dev
Section: libdevel
Architecture: any
Depends: ${haskell:Depends}
Suggests: pandoc-doc
Description: General markup converter
 Pandoc is a Haskell library for converting from one markup format to
 another, and a command-line tool that uses this library. It can read
 markdown and (subsets of) reStructuredText, HTML, and LaTeX, and it
 can write markdown, reStructuredText, HTML, LaTeX, RTF, and S5 HTML
 slide shows.
 . 
 This package contains the libraries compiled for GHC 6.

Package: pandoc-doc
Section: doc
Architecture: all
Description: General markup converter
 Pandoc is a Haskell library for converting from one markup format to
 another, and a command-line tool that uses this library. It can read
 markdown and (subsets of) reStructuredText, HTML, and LaTeX, and it
 can write markdown, reStructuredText, HTML, LaTeX, RTF, and S5 HTML
 slide shows.
 .
 This package contains the library documentation for Pandoc.
