*

!/assets/
!/backups/
!/bind-mounts/
!/conf/
!/conf/etc/
!/conf/etc/stack/
!/ghc-*/
!/scripts/
!/scripts/usr/
!/scripts/usr/local/
!/scripts/usr/local/bin/

!/conf/etc/stack/config.yaml
!/ghc-*/devcontainer.json
!/scripts/usr/local/bin/*.sh

!/devcontainer.json
!/GHC-legacy.Dockerfile
!/GHC.Dockerfile
!/LICENSE
!/README.md

!.gitignore
!.keep
