$if(legacy-header)$
$legacy-header$
$else$
<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE article PUBLIC "-//OASIS//DTD DocBook XML V4.4//EN"
                  "http://www.oasis-open.org/docbook/xml/4.4/docbookx.dtd">
$endif$
<article>
  <articleinfo>
    <title>$title$</title>
$for(author)$
    <author>
      $author$
    </author>
$endfor$
$if(date)$
    <date>$date$</date>
$endif$
  </articleinfo>
$body$
</article>

