<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
><head
  ><title
    >$if(title-prefix)$$title-prefix$ - $endif$$title$</title
    ><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
     /><meta name="generator" content="pandoc"
     /><meta name="author" content="John MacFarlane"
     /><meta name="author" content="Anonymous"
     /><meta name="date" content="July 17, 2006"
     /></head
  ><body
  ><h1 class="title"
    >$title$</h1
    >
$body$
    </body
  ></html
>

