$if(standalone)$
$if(titleblock)$
$titleblock$
$endif$
$if(header-includes)$
$header-includes$
$endif$
$endif$
$if(before)$
$before$
$endif$
$if(toc)$
$toc$
$endif$
$body$
$if(after)$
$after$
$endif$
