===============
:math:`$title$`
===============

:Author: $authors$
:Date: $date$

.. contents::

$header-includes$

.. role:: math(raw)
   :format: html latex

section oen
===========


1. one
   
   a. two
      
      iii. three



::

    hi

footnote [1]_

.. [1]
   with code

   ::

       code

