$if(has-tables)$
.\"t
$endif$
.TH PANDOC 1 "$date$" "$version$"
.SH NAME
pandoc - general markup converter
$body$
.SH PANDOC'S MARKDOWN
For a complete description of pandoc's extensions to standard markdown,
see \f[C]pandoc_markdown\f[] (5).
.SH SEE ALSO
.PP
\f[C]pandoc_markdown\f[] (5).
.PP
The Pandoc source code and all documentation may be downloaded
from <http://johnmacfarlane.net/pandoc/>.
