name: CI tests

on:
  push:
    branches:
    - '*'
    - '!rc/*'
    ignore-paths:
    - 'doc/**'
    - 'MANUAL.txt'
    - '*.md'
    - 'RELEASE_CHECKLIST'
    - 'BUGS'
    - 'changelog'
    - 'README.template'
    - 'appveyor.yml'
    - 'tools/**'
    - 'linux/**'
    - 'macos/**'
    - 'windows/**'
    - 'man/**'
  pull_request:
    ignore-paths:
    - 'doc/**'
    - 'MANUAL.txt'
    - '*.md'
    - 'RELEASE_CHECKLIST'
    - 'BUGS'
    - 'changelog'
    - 'README.template'
    - 'appveyor.yml'
    - 'tools/**'
    - 'linux/**'
    - 'macos/**'
    - 'windows/**'
    - 'man/**'

jobs:
  linux:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        versions:
          - ghc: '8.0.2'
            cabal: '2.4'
          - ghc: '8.2.2'
            cabal: '2.4'
          - ghc: '8.4.4'
            cabal: '2.4'
          - ghc: '8.6.5'
            cabal: '2.4'
          - ghc: '8.8.1'
            cabal: '3.0'
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
          export PATH=/opt/cabal/${{ matrix.versions.cabal }}/bin:/opt/ghc/${{ matrix.versions.ghc }}/bin:$PATH
          cabal v2-update
          cabal v2-build --dependencies-only --enable-tests --disable-optimization
    - name: Build and test
      run: |
          export PATH=/opt/cabal/${{ matrix.versions.cabal }}/bin:/opt/ghc/${{ matrix.versions.ghc }}/bin:$PATH
          cabal v2-build --enable-tests --disable-optimization 2>&1 | tee build.log
          # fail if warnings in local build
          ! grep -q ": *[Ww]arning:" build.log || exit 1
          cabal v2-test --disable-optimization --test-option=--hide-successes

  windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install stack
      shell: cmd
      run: |
          choco install haskell-stack
    - name: Install dependencies
      run: |
          stack update
          stack test --dependencies-only --fast
    - name: Build and test
      shell: cmd
      run: |
          stack test --fast --test-arguments='--hide-successes'

  macos:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install stack
      run: |
          curl -L https://get.haskellstack.org/stable/osx-x86_64.tar.gz -o stack.tar.gz
          tar xzvf stack.tar.gz --strip-components=1 'stack*/stack'
    - name: Install dependencies
      run: |
          ./stack update
          ./stack test --dependencies-only --fast
    - name: Build and test
      run: |
          ./stack test --fast --test-arguments='--hide-successes'
