name: commit-validation-pr
on: [pull_request]

permissions:
  contents: read

jobs:
  check-commit-msg-length:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Check commit message length
      run: |
          git log ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }} | (
            longlines=0
            while IFS='' read -r line; do
              if [ "${#line}" -gt 78 ]; then
                echo "Overlong line: ${line}" >&2
                longlines=$(( longlines + 1 ))
              fi
            done
            [ "${longlines}" -eq 0 ]
          )
