name: Haskell CI

on: [push]

jobs:
  build:
   
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: cabal update && cabal install --dependencies-only --enable-tests
    - name: Build
      run: |
        cabal configure --enable-tests && cabal build
    - name: Run tests
      run: cabal test
